.dateInputsContainer {
  display: flex;
  flex-direction: column;
}

.dateInputs {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
}

.day,
.month,
.year {
  display: flex;
  flex-direction: row;
  position: relative;
  padding-top: 15px;
  margin-top: 0;
  margin-right: 15px;
}

.dateInputsFieldsetLabel {
  position: absolute;
  top: 0;
  left: 0;
}

.day input,
.month input {
  width: 24px;
}

.year input {
  width: 40px;
}
